.SodaForm {
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.Soda {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--maxWidth);
    background: var(--mainWhite);
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--lightShadow);
}

.FormControl label {
    display: block;
    margin-bottom: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: var(--primaryColor);
  }
  .FormControl input, textarea {
    width: 100%;
    border: none;
    border-color: transparent;
    background: var(--mainBackground);
    border-radius: var(--mainBorderRadius);
    padding: 0.5rem;
    font-size: 1.2rem;
    resize: none;
  }

  .FormButton {
    text-align: center;
    padding: 20px;
  }