.SodaList {
    padding: 5rem 0;
}

.SodaListTitle {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
}

.SodaListCenter {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    /* align-items: start; */
  }
  @media screen and (min-width: 576px) {
    .SodaListCenter {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }